<div class="container-fluid" *ngIf="selectedProduct">
  <section class="container-fluid">

    <div class="row">
      <span><fa-icon [icon]="backIcon" class="float-left"></fa-icon></span>
      <span><button class="btn float-left" routerLink="/home" style="font-size: 18px">Back</button></span>
    </div>


    <div class="row" style="margin-top: 5em; margin-bottom: 7em" >

      <div class="col-xs-12 col-md-6 col-lg-6">

        <div class="container" style="text-align: center">
          <img [src]="imageUrl + selectedProduct.image">
        </div>

      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">

        <div class="container-fluid" style="border: double; width: 80%; left: 0">

          <div class="name-container">
            <p>{{selectedProduct.name}}</p>
          </div>

          <div class="price-container">
            <p>$ {{selectedProduct.cost.bottle}}</p>
          </div>

          <div class="options-container">
            <h6>OPTIONS</h6>

            <span>
              <button (click)="enableDisableRule()"
                      [ngClass]="{'btn btn-choice' : toggle, 'btn btn-choice-selected': !toggle}">BOTTLE</button>
            </span>
            <span>
              <button (click)="enableDisableRule()"
                      [ngClass]="{'btn btn-choice' : toggle, 'btn btn-choice-selected': !toggle}">CASE (6 BOTTLES)</button>
            </span>
          </div>

            <button class="btn btn-to-cart" (click)="addProductToCart(selectedProduct)">ADD TO CART +</button>

            <button  class="btn btn-buy-now" routerLink="/checkout">BUY NOW</button>

          <hr>
          <div class="description-container">
            <p>{{selectedProduct.details}}</p>
          </div>



        </div>
      </div>
    </div>
  </section>


  <div class="footer">
    <p>Copyright @ 2020 Cynthia Wainaina </p>
  </div>


</div>
