<div class="container-fluid">
  <section class="container-fluid">


    <div class="row" style="margin-top: 5em; margin-bottom: 7em">

      <div class="col-xs-12 col-md-6 col-lg-6">

        <div class="container" style="text-align: center">
          <img src="https://storage.googleapis.com/wineshop-assets/wine-bottles/hukupapa.png">
        </div>

      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">

        <div class="container-fluid" style="border: double; width: 80%; left: 0">

          <div class="price-container">
            <p>$2.50</p>
          </div>

          <div class="options-container">
            <h6>OPTIONS</h6>
            <button class="btn btn-choice">BOTTLE</button>
            <button class="btn btn-choice">CASE (6 BOTTLES)</button>
          </div>

          <div class="quantity-container">
            <span>
              <p>QUANTITY</p>

              <div class="input-group" style="width: 30%;">
                <span class="input-group-btn">
                    <button type="button" class="quantity-left-minus btn btn-number"  data-type="minus" data-field="">
                      <span><fa-icon [icon]="minusIcon"></fa-icon></span>
                    </button>
                </span>

                <input type="text" id="quantity" name="quantity" class="form-control input-number" value="10" min="1" max="100" >

                <span class="input-group-btn">
                    <button type="button" class="quantity-right-plus btn btn-number" data-type="plus" data-field="">
                        <span><fa-icon [icon]="plusIcon"></fa-icon></span>
                    </button>
                </span>

              </div>

            </span>

          </div>

            <button class="btn btn-to-cart">ADD TO CART +</button>

            <button  class="btn btn-buy-now" routerLink="/checkout">BUY NOW</button>

          <hr>
          <div class="description-container">
            <p>Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsum</p>
          </div>



        </div>
      </div>
    </div>
  </section>

  <div class="footer">
    <p>Copyright @ 2020 Cynthia Wainaina </p>
  </div>


</div>
