<ngx-spinner></ngx-spinner>

<div class="container-fluid" *ngIf="selectedProduct">
  <section class="container-fluid">

    <div class="row">
      <span><fa-icon [icon]="backIcon" class="float-left"></fa-icon></span>
      <span><button class="btn float-left" routerLink="/home" style="font-size: 18px">Back</button></span>
    </div>


    <div class="row" style="margin-top: 5em; margin-bottom: 7em" >

      <div class="col-xs-12 col-md-6 col-lg-6">

        <div class="container" style="text-align: center">
          <img [src]="imageUrl + selectedProduct.image">
        </div>

      </div>

      <div class="col-xs-12 col-md-6 col-lg-6">

        <div class="container-fluid" style="border: double; width: 100%; left: 0">

          <div class="name-container">
            <p>{{selectedProduct.name}}</p>
          </div>
          <hr>

          <div class="options-container">
            <h4>OPTIONS</h4>

            <mat-button-toggle-group #group="matButtonToggleGroup" style="margin-bottom: 2em">

              <mat-button-toggle value="17.90">
                <p>BOTTLE</p>
              </mat-button-toggle>

              <mat-button-toggle value="249.0">
                <p>CASE (6 BOTTLES)</p>
              </mat-button-toggle>

            </mat-button-toggle-group>

<!--            <div class="example-selected-value">Selected value: {{group.value}}</div>-->

            <div class="price-container">
              <p>$ {{group.value}}</p>
            </div>

          </div>

          <button class="btn btn-to-cart" (click)="addProductToCart(selectedProduct)">ADD TO CART +</button>

            <button  class="btn btn-buy-now" routerLink="/checkout">BUY NOW</button>

          <hr>
          <div class="description-container">
            <p>{{selectedProduct.details}}</p>
          </div>



        </div>
      </div>
    </div>
  </section>


  <div class="container-fluid footer">
    <p>Copyright @ 2020 Cynthia Wainaina </p>
  </div>


</div>
