<div id="intro" class="view">

  <div class="mask rgba-white-strong">

    <div class="container-fluid d-flex align-items-left justify-content-left h-100">

      <div class="row d-flex justify-content-left text-left">

        <div class="col-md-10" style="margin-top: 20%">

          <!-- Heading -->
          <h2 class="display-4 font-weight-bold white-text pt-5 mb-5 mt-5">Welcome to Wine Shop</h2>

          <!-- Divider -->
          <hr class="hr-light">

          <!-- Description -->
          <h4 class="white-text my-4">Your best wine collection</h4>

          <button type="button" class="btn btn-submit">Read more<i class="fa fa-book ml-2"></i></button>

        </div>

      </div>

    </div>

  </div>

</div>
<!--/.Mask-->

<section>

  <div class="container-fluid">
    <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <h6>CATALOG</h6>
      <p class="filter-item">Everything</p>
      <p class="filter-item">Vintage Wines</p>

      <h6>ORDER BY</h6>
      <p class="filter-item">Price, low to high</p>
      <p class="filter-item">Price, high to low</p>


      <h6>WINE TYPE</h6>
      <button class="btn btn-filter">Red Wine</button>
      <button class="btn btn-filter">White Wine</button>
      <button class="btn btn-filter">Sparkling</button>


    </div>

    <div class="col-xs-12 col-md-6 col-lg-9">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-block" matTooltip="Number of people who have rated your business">
              <img src="./assets/images/wine2.jpg">
              <p class="card-text2"></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-block">
              <img src="./assets/images/wine1.jpg">
              <p class="card-text2"></p>
            </div>

          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-block" matTooltip="Number of ratings above 50%">
              <img src="./assets/images/wine2.jpg">
              <p class="card-text2"></p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-block" matTooltip="Number of people who have rated your business">
              <img src="./assets/images/wine2.jpg">
              <p class="card-text2"></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-block">
              <img src="./assets/images/wine1.jpg">
              <p class="card-text2"></p>
            </div>

          </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="card">
            <div class="card-block" matTooltip="Number of ratings above 50%">
              <img src="./assets/images/wine2.jpg">
              <p class="card-text2"></p>
            </div>
          </div>
        </div>

      </div>

    </div>



  </div>
  </div>



</section>
