<ngx-spinner></ngx-spinner>


<div id="intro" class="view">

  <div class="mask rgba-white-strong">

    <div class="container-fluid d-flex align-items-left justify-content-left h-100">

      <div class="row d-flex justify-content-left text-left">

        <div class="col-md-10" style="margin-top: 20%">

          <!-- Heading -->
          <h2 class="display-4 font-weight-medium white-text pt-4 mb-5 mt-5">Welcome to Wine Shop</h2>

          <!-- Divider -->
          <hr class="hr-light">

          <!-- Description -->
          <h4 class="white-text my-4">Your best wine collection</h4>

          <button type="button" class="btn btn-submit">SHOP NOW<i class="fa fa-book ml-2"></i></button>

        </div>

      </div>

    </div>

  </div>

</div>
<!--/.Mask-->

<section class="container-fluid">

  <div class="container-fluid">
    <div class="row">

    <div class="col-xs-12 col-md-6 col-lg-3">

      <h6>CATALOG</h6>
      <p class="filter-item">Everything</p>
      <p class="filter-item">Vintage Wines</p>

      <h6>ORDER BY</h6>
      <p class="filter-item">Price, low to high</p>
      <p class="filter-item">Price, high to low</p>


      <h6>WINE TYPE</h6>
      <button class="btn btn-filter">Red Wine</button>
      <button class="btn btn-filter">White Wine</button>
      <button class="btn btn-filter">Sparkling</button>



    </div>

    <div class="col-xs-12 col-md-6 col-lg-9">

      <div class="row" style="margin-bottom: 30px">

        <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let item of WineData">

          <div class="card" >

            <div class="card-block">
              <img [src]=""  class="card-img-top">
              <p class="card-text">{{item.name}}</p>
              <p class="card-text">from ${{item.cost.bottle}}</p>
              <div class="d-flex justify-content-center" style="margin-bottom: 2em">
                <button class="btn btn-add-to-cart text-center" routerLink="/product-details">SELECT OPTIONS</button>
              </div>
            </div>

          </div>
        </div>


      </div>

    </div>



  </div>
  </div>

</section>


<div class="footer-home">
  <p>Copyright @ 2020 Cynthia Wainaina </p>
</div>

