#intro {
  height: 100%;
}

#intro {
  background-image: url("../../../../assets/images/wine-landing2.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 2%;
}

.btn-submit {
  height: 35px;
  background-color: #f9f9f9;
  color: #212121;
}

.btn-filter{
  border-color: #165751;
  margin: 0 10px 10px 0;
  cursor: pointer;
  font-size: 15px;
  color: #165751;
  opacity: 80%;

}

.filter-item{
  cursor: pointer;
  font-size: 15px;
  opacity: 60%;

}

.card img{
  height: 400px;
  width: 290px;
}

