<main class="container-fluid">
<div class="container-fluid">
  <p class="page-heading">MY CART</p>

  <section class="container-fluid" *ngFor="let product of cartProductList">

    <div class="list-wrap" style="margin: 4em 0 3em 0;">
      <div class="list-item d-flex">

        <div class="row" style="width: 100%">
          <div class="col-xs-12 col-md-12 col-lg-2" style="width: 500px">
            <img src="https://storage.googleapis.com/wineshop-assets/wine-bottles/hukupapa.png">
          </div>
          <div class="col-xs-12 col-md-12 col-lg-2" style="width: 500px">
            <p>{{product.name}}</p>
          </div>

          <div class="col-xs-12 col-md-12 col-lg-2" style="width: 500px">
            <p>{{product.cost.bottle}}</p>
          </div>

          <div class="col-xs-12 col-md-12 col-lg-2" style="width: 500px">

            <button class="btn btn-quantity">-</button>
             1
            <button class="btn btn-quantity">+</button>
          </div>

          <div class="col-xs-12 col-md-12 col-lg-2" style="width: 500px">
            <fa-icon [icon]="trashIcon" class="ml-auto" style="color: darkred"></fa-icon>
          </div>

        </div>
      </div>

    </div>

    <hr>

    <fa-icon [icon]="backIcon" class="float-left"></fa-icon>
    <button class="btn float-left" routerLink="/home">Continue Shopping</button>

    <div class="float-right">SUBTOTAL: <span style="margin-left: 4em;">$ 17.90</span></div><br><br>
      <button class="btn btn-proceed float-right" routerLink="/checkout">PROCEED TO CHECKOUT</button>


  </section>

  <div class="footer">
    <p>Copyright @ 2020 Cynthia Wainaina </p>
  </div>




</div>
</main>
